a.brand {
    list-style: none;
    color:#111;
    font-weight: bold;
    font-size: xx-large;
    padding: 1rem;
    text-decoration: none;

}

a.brand:hover {
    color: #DCCA98;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

html {background-color: #bebebe;}

h2 {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    
}

p {

}

img.bar {
    margin-left: auto;
    display: block;
}

figure {
    display: inline-block;
}